{% extends 'base.html' %}

{% block content %}

<br/>
<br/>

{% if zipcode %}
    {{ zipcode }}
{% endif %}

{% if api %}
    {% if api == "Error..." %}
        There was an error, please try again.
    {% else %}

<div class="jumbotron {{ category_color }}">
    <h1 class="display-4">{{ api.1.Category.Name }}</h1>
    <p class="lead"><b>Location</b>:   {{ api.1.ReportingArea }}, {{ api.1.StateCode }}</p>
    <p class="lead"><b>Current Air Quality</b>:  {{ api.1.AQI }}</p>
    <p class="lead"><b>Coordinates</b>:   Latitude: {{ api.1.Latitude }}  Longitude: {{ api.1.Longitude }}</p>
    <p>{{ category_description }}</p>
</div>

    {% endif %}

{% endif %}

{% endblock %}
